.right-strip-container {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--gradient-primary);
  color: #fff;
  padding: 15px 5px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;
}

.right-strip-container:hover {
  background: var(--gradient-primary);
  opacity: 0.9;
}

.right-strip-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-weight: 600;
  font-size: 0.9rem;
  letter-spacing: 2px;
  /* text-transform: uppercase; */
  margin: 0;
}