.right-strip-container {
  position: fixed;
  top: 30%;
  right: 0;
  transform: translateY(-50%);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c69a37;
  color: #fff;
  padding: 15px 5px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.right-strip-container:hover {
  background-color: #a8812c;
}

.right-strip-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 2px;
  /* text-transform: uppercase; */
  margin: 0;
}